#Heading{
    color: blue;
}
.background-color{
    background-color: yellowgreen;
}
.color{
    color: white;
}
.list{
    color: lightcoral;
}
#First{
    color: skyblue;
}
#Copywrite{
    text-align: center;
}
#line{
    color: brown;
    font-size: 30px;
}
